<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="40629codev01.OxygenVK"
    Publisher="CN=A6407AEF-CE6D-469E-AE2F-8F7237F6D602"
    Version="0.1.13.0" />

  <mp:PhoneIdentity PhoneProductId="1a1affc1-207f-4191-8425-7b6c48ea1f03" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>OxygenVK</DisplayName>
    <PublisherDisplayName>codev01</PublisherDisplayName>
    <Logo>AppSource\Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17134.0" MaxVersionTested="10.0.18362.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="OxygenVK"
      Executable="$targetnametoken$.exe"
      EntryPoint="OxygenVK.App">
      <uap:VisualElements
        DisplayName="OxygenVK"
        Square150x150Logo="AppSource\Assets\Square150x150Logo.png"
        Square44x44Logo="AppSource\Assets\Square44x44Logo.png"
        Description="OxygenVK"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="AppSource\Assets\Wide310x150Logo.png" Square71x71Logo="AppSource\Assets\SmallTile.png" Square310x310Logo="AppSource\Assets\LargeTile.png"/>
        <uap:SplashScreen Image="AppSource\Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose" />
  </Capabilities>
</Package>